* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 16px;
}

@define-color bg rgb (33, 33, 33);

window#waybar {
    background: transparent;
    color: white;
}

#tray, #cpu, #memory, #clock, #battery,#temperature, #pulseaudio, #network {
	background-color: @bg;
	padding: 5px 8px;
	margin-bottom: 6px;
}

#clock {
    color: #f0f0f0;
    border-radius: 0px 30px 30px 0px;
    margin-right: 6px;
}

#tray {
    border-radius: 30px 0px 0px 30px;
}

#cpu {
    color: #7dcfff;
}

#memory {
  color: #9481b5;
}

#temperature {
  color: #9ece6a;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: @bg;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f7768e;
}

#pulseaudio {
	color: #e0af68;
}
