@define-color bg rgba(255, 255, 255, 0.9);
@define-color text #333333;
@define-color border #333333;

* {
  border-radius: 30px;
  min-height: 0;
  font-size: 16px;
  font-weight: bold;
}

#waybar {
  background: transparent;
  color: @text;
}

.modules-left {
  background: @bg;
  margin: 0 0 4px 4px;
  border: 3px solid @border;
}
.modules-center {
  background: @bg;
  margin: 0 0 4px 0;
  border: 3px solid @border;
}
.modules-right {
  background: @bg;
  margin: 0 4px 4px 0;
  border: 3px solid @border;
}

#workspaces button,
#tags button {
  color: @text;
  padding: 0px 4px;
  margin: 2px 2px;
}
#workspaces button.focused,
#tags button.focused {
  color: @bg;
  background: @text;
}

#clock,
#network,
#tray,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#pulseaudio {
  padding: 3px 6px;
}
